<%= render "shared/create_header" %>
<div class='main'>
  <div class="users-blogs-one">
    <p><%= @blog.user.nickname%>さんのブログ</p>
    <div class="blogs-ones-box">
      <div class="blogs-ones-title">
        <h3><%= @blog.title %></h3>
      </div>
      <div class="blogs-ones-image">
        <% if @blog.image.present?%>
        <%= image_tag @blog.image.variant( resize: "300x300"), class:"blogs-image-size"%>
        <% end %>
      </div>
      <div class="blogs-ones-text">
        <%= @blog.text %>
      </div>
      <div class="blogs-ones-option">
        <div class="blogs-ones-options-box">
          <%= link_to "ステキ！", "#", class:"blogs-ones-good-btn" %>
          <% if @blog.user.id == current_user.id %>
          <%= link_to "編集する", edit_blog_path(@blog.id), class:"blogs-ones-edit-btn" %>
          <%= link_to "削除する", blog_path(@blog.id), method: :delete, data: {confirm: "削除しますか？"}, class:"blogs-ones-delete-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>