<%= render "posits/user_header", locals: {user: @user} %>
<div class='main'>
  <div class="contents-view">
    <div class="posit-view">
      <p><%= @user.nickname%>さんの投稿一覧</p>
      <div class="posit-view-box">
        <ul class="posit-lists">
          <% if @posits.present? %>
          <% @posits.each do |posit| %>
          <li class="posit">
            <div class="posit-name">
              <h3><%= link_to posit.user.nickname, user_path(posit.user.id) %></h3>
            </div>
            <div class="posit-text">
              <%= posit.posit%>
            </div>
            <div class="posit-option">
              <span>
                <%= image_tag("option.jpeg", :size => "17x17", id:"posit-option")%>
                <% if user_signed_in?%>
                <% if posit.user.id == current_user.id%>
                  <%= link_to "削除する", posit_path(posit.id), method: :delete, data: {confirm: "削除しますか？"}, class:"posit-delete-btn"%>
                <% end %>
                <% end %>
              </span>
              <span>
                <%= image_tag("good_mark.jpeg", :size => "17x17", id:"good-mark")%>
              </span>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="user-contents-view">
    <div class="user-profile-view">
      <p><%= @user.nickname%>さんのプロフィール</p>
      <div class="user-profile-box"></div>
    </div>
    <div class="user-options">
      <ul class="user-posits-letters">
        <li><%= link_to "感謝状を送る", "#"%></li>
      </ul>
    </div>
    <div class="user-blog-view">
      <p><%= @user.nickname%>さんのブログ一覧</p>
      <div class="blog-view-box">
        <ul class="blog-lists">
          <% if @blogs.present? %>
          <% @blogs.each do |blog| %>
          <li class="blog">
            <div class="blog-writer">
              <h3><%= link_to blog.user.nickname, user_path(blog.user.id) %></h3>
            </div>
            <div class="blog-title-name">
              <%= link_to blog.title, blogs_path(blog.id)%>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul> 
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>