<%= render "posits/user_header", locals: {user: @user} %>
<div class='main'>
  <div class="contents-view">
    <div class="posit-view">
      <p><%= @user.nickname%>さんの投稿一覧</p>
      <div class="posit-view-box">
        <ul class="posit-lists">
          <% if @posits.present? %>
          <% @posits.each do |posit| %>
          <li class="posit">
            <div class="posit-name">
              <h3><%= link_to posit.user.nickname, user_path(posit.user.id) %></h3>
            </div>
            <div class="posit-text">
              <%= posit.posit%>
            </div>
            <div class="posit-option">
              <% if user_signed_in?%>
              <% if posit.user.id == current_user.id%>
              <div class="posit-delete">
                <span><%= link_to "削除する", posit_path(posit.id), method: :delete, data: {confirm: "削除しますか？"}, class:"posit-delete-btn"%></span>
              </div>
              <% else %>
              <span class="likes" data-id=<%= posit.id %> data-check=<%= posit.checked %>>
                ステキ！
              </span>
              <% end %>
              <% end %>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="user-contents-view">
    <div class="user-profile-view">
      <p><%= @user.nickname%>さんのプロフィール</p>
      <div class="user-profile-box">
        <% if @profile.present? %>
        <% @profile.each do |profile|%>
        <%= profile.profile %>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-shows-options">
      <ul class="user-posits-letters">
        <% if user_signed_in?%>
        <li><%= link_to "マイページ", posits_path %></li>
        <li><%= link_to "感謝状を送る", new_user_address_path(@user.id)%></li>
        <% end %>
      </ul>
    </div>
    <div class="user-shows-blog-view">
      <p><%= @user.nickname%>さんのブログ一覧</p>
      <div class="blog-view-box">
        <ul class="blog-lists">
          <% if @blogs.present? %>
          <% @blogs.each do |blog| %>
          <li class="blog">
            <div class="blog-writer">
              <h3><%= link_to blog.user.nickname, user_path(blog.user.id) %></h3>
            </div>
            <div class="blog-title-name">
              <%= link_to blog.title, blogs_path(blog.id)%>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul> 
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>