<div class="top-page-header">
  <div class="title-block">
    <div class="menu">
    <%=image_tag("f_f_event_66_s512_f_event_66_0bg.png", :size => "40x40", :class =>"menu-block", :id => "menu-bk")%>
    <p class="menu-title">MENU<p>
     <ul class="menu-box", id="menu-bx">
      <li><%= link_to "PoSiTi-BaNKとは", exp_path(anchor: "d-title" ) %></li>
      <li><%= link_to "PoSiTi-BaNKの機能について", exp_path(anchor: "e-title" ) %></li>
      <li><%= link_to "PoSiTi-BaNKの使い方", exp_path(anchor: "h-title" )%></li>
     </ul>
    </div>
    <div class="title">
      <%= link_to root_path do %>
        <h1>PoSiTi-BaNK</h1>
      <% end %>
    </div>
    <div class="user-name"> 
      <% if user_signed_in?%>
        <%= link_to posits_path do%>
          <p>マイページへ</p>
        <% end %>
      <% else %>
        <p>ゲストさん、ようこそ</p>
      <% end %>
    </div>
  </div>
  <div class="sign-block">
    <% if user_signed_in? %>
    <div class="en-counter">
      <p><%= @result %>縁</p>
    </div>
    <div class="logout">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
    <div class="new-posit">
      <%= link_to "投稿する", new_posit_path %>
    </div>
    <div class="new-blog">
      <%= link_to "記事を書く", new_blog_path %>
    </div>
    <% else %>
    <div class="en-counter">
    </div>
    <div class="login">
      <%= link_to "ログイン", new_user_session_path %>
    </div>
    <div class="new-registration">
      <%= link_to "新規登録", new_user_registration_path %>
    </div>
    <% end %>
  </div>
</div>