<%= render "shared/create_header" %>
<div class='main'>
  <div class="all-letters-view">
    <p><span>感謝状</span></p>
    <div class="all-letters-view-box">
      <div class="blogs-ones-title">
        <p><%= @letters.address.user.nickname %>さんへ</p>
      </div>
      <div class="blogs-ones-text">
        <%= @letters.thanks %>
      </div>
      <div class="blogs-ones-option">
        <div class="letters-ones-options-box">
          <% unless @letters.address.user_id == current_user.id %>
          <%= link_to "編集する", edit_letter_path(@letters.id), class:"blogs-ones-edit-btn" %>
          <%= link_to "削除する", letter_path(@letters.id), method: :delete, data: {confirm: "削除しますか？"}, class:"blogs-ones-delete-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to :back do%>
      戻る 
    <% end %>
  </div>
</div>  
<%= render "shared/footer"%>