<%= render "shared/create_header" %>

<div class="new-session-main">
  <div class="sign-in-box">
    <div class="sign-in">
      <h2>会員情報入力</h2>
    </div>
  </div>
  <div class="session-box">
    <%= form_with model: @user, url: user_session_path, class: 'session-form', local: true do |f| %>
      
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="form-session-box">
        <div class="form-text-wrap">
          <label class="form-text">メールアドレス</label>
          <span>※必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>

      <div class="form-session-box">
        <div class="form-text-wrap">
          <label class="form-text">パスワード</label>
          <span>※必須</span>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="form-session-box">
        <div class="form-text-wrap">
          <%= f.submit "ログイン", class:"session-submit"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
