<div class="top-page-header">
  <div class="title-block">
    <div class="menu">
    <%=image_tag("f_f_event_66_s512_f_event_66_0bg.png", :size => "40x40")%>
    <h2>MENU</h2>
    </div>
    <div class="title">
      <%= link_to root_path do %>
        <h1>PoSiTi-BaNK</h1>
      <% end %>
    </div>
    <div class="user-name"> 
      <%= link_to "#" do%>
        <h2><%= current_user.nickname %>さんのページ<h2>
      <% end %>
    </div>
  </div>
  <div class="sign-block">
    <div class="en-counter">
      <p>123,456,789縁</p>
    </div>
    <div class="logout">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
    <div class="new-posit">
      <%= link_to "投稿する", new_posit_path %>
    </div>
    <div class="new-blog">
      <%= link_to "記事を書く", "#" %>
    </div>
  </div>
</div>