<%= render "user_header" %>
<div class='main'>
  <div class="contents-view">
    <div class="posit-view">
      <p>新着投稿</p>
      <div class="posit-view-box">
        <ul class="posit-lists">
          <% if @posits.present? %>
          <% @posits.each do |posit| %>
          <li class="posit">
            <div class="posit-name">
              <h3><%= link_to posit.user.nickname, user_path(posit.user.id) %></h3>
            </div>
            <div class="posit-text">
              <%= posit.posit%>
            </div>
            <div class="posit-option">
              <% if user_signed_in?%>
              <% if posit.user.id == current_user.id%>
              <div class="posit-delete">
                <span><%= link_to "削除する", posit_path(posit.id), method: :delete, data: {confirm: "削除しますか？"}, class:"posit-delete-btn"%></span>
              </div>
              <% else %>
              <span class="likes" data-id=<%= posit.id %> data-check=<%= posit.checked %>>
                ステキ！
              </span>
              <% end %>
              <% end %>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="user-contents-view">
    <div class="user-profile-view">
      <div class="user-profile-option">
        <p><%= current_user.nickname%>さんのプロフィール</p>
        <% if @profile_id.blank? %>
        <%= link_to "登録する", new_profile_path %>
        <%end%>
        <% if @profile.present? %>
          <% @profile.each do |profile| %>
            <% if profile.user_id == current_user.id %>
            <%= link_to "編集する", edit_profile_path(profile.id)%>
            <% elsif profile.profile.blank? %>
            <%= link_to "登録する", new_profile_path %>
            <% end %>
          <% end %>
          <% else %>
          <%= link_to "登録する", new_profile_path %>
        <% end %>
      </div>
      <div class="user-profile-box", id="profile-b", style="display:block" >
        <% if @profile.present? %>
        <% @profile.each do |profile| %>
        <% if profile.user_id == current_user.id %>
        <%= profile.profile %>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-options">
      <ul class="user-posits-letters">
        <li><%= link_to "投稿一覧", posit_path(current_user.id)%></li>
        <li><%= link_to "ブログ一覧", blog_path(current_user.id)%></li>
        <li><%= link_to "貰った感謝状", "/taken" %></li>
        <li><%= link_to "送った感謝状", letters_path%></li>
      </ul>
    </div>
    <div class="user-blog-view">
      <p>新着ブログ</p>
      <div class="blog-view-box">
        <ul class="blog-lists">
          <% if @blogs.present? %>
          <% @blogs.each do |blog| %>
          <li class="blog">
            <div class="blog-writer">
              <h3><%= link_to blog.user.nickname, user_path(blog.user.id) %></h3>
            </div>
            <div class="blog-title-name">
              <%= link_to blog.title, blogs_path(blog.id)%>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul> 
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>