<%= render "shared/create_header" %>
<div class='main'>
  <div class="all-posits-view">
    <p><%= current_user.nickname%>さんのブログ一覧</p>
    <div class="all-posits-view-box">
      <ul class="all-posits-lists">
        <% if @posits.present? %>
        <% @posits.each do |posit| %>
        <li class="all-posit">
          <div class="all-posit-writer">
            <h3><%= posit.user.nickname %></h3>
          </div>
          <div class="all-posit-text">
            <%= link_to posit.posit%>
          </div>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <%= link_to "戻る", posits_path%>
  </div>
</div>
<%= render "shared/footer"%>